body {
    margin: 0;
    background: turquoise;
    text-align: center;
}

img {
    width: 90%;
    border: 5px solid black;
}

#fbCanvas {
    margin-top: 15px;   /* Adjust this value as needed */
    border:1px solid black;
    background-color: lightblue;
}

#stairsCanvas {
    margin-top: 10%;    /* Adjust this value as needed */
    border:1px solid black;
    background-image: 
        linear-gradient(
            to bottom,
            darkslategray,
            darkslategray 50%,
            white 50%,
            white
        );
    /* The rectangle in which to repeat. 
    It can be fully wide in this case */
    background-size: 100% 60px;
}