body {
    margin: 0;
    background: turquoise;
    text-align: center;
}

img {
    width: 90%;
    border: 5px solid black;
}

canvas {
    border:1px solid black;
    background-color: lightblue;
}

stairsCanvas {
    border:1px solid black;
    /* background-color: lightcoral; */

    background-image: 
        linear-gradient(
            to bottom,
            green,
            green 50%,
            lightgreen 50%,
            lightgreen
        );
    /* The rectangle in which to repeat. 
    It can be fully wide in this case */
    background-size: 100% 20px;
}